---

---

<header class="flex bg-[#101214] opacity-90 h-[82px] text-[#C9D0E0] items-center justify-center fixed z-10 w-screen">
    <nav>
        <ul class="flex gap-[40px] font-medium">
            <li><a href="#home" class="hover:text-[#b8c0d1]">Home</a></li>
            <li><a href="#projects" class="hover:text-[#b8c0d1]">Projects</a></li>
            <li><a href="#experience" class="hover:text-[#b8c0d1]">Experience</a></li>
            <li><a href="#contact-me" class="hover:text-[#b8c0d1]">Contact Me</a></li>
        </ul>
    </nav>
</header>