---
import Button from "./Button.astro"
---

<main class="container flex lg:items-center max-w-[1280px] mx-auto h-screen relative pt-8 lg:pt-0">
    <div class="lg:my-auto relative w-full px-6 lg:px-0">
        <!-- My Professional Roles -->
        <div class="font-[Roboto] lg:h-[250px]">
            <h1 class="text-[#C5CED8] text-[32px] font-light">
                Juan Suárez
            </h1>
            <h2 class="lg:text-[70px] text-[32px] text-[#B0C9DB] font-bold drop-shadow-[-3px_3px_rgba(135,108,255,0.50)] leading-14">
                Ui Designer
            </h2>
            <span class="text-[#B5C2CE] lg:text-[40px] text-[32px] absolute lg:py-6 lg:px-15 px-0">
                &
            </span>
            <h2 id="WebDev" class="lg:text-[88px] text-[40px] font-extrabold lg:leading-[80px] leading-[40px] lg:pl-[106px] pl-[50px] pb-6 lg:absolute">
                Web Developer
            </h2>
            <div class="hidden lg:block absolute -z-10 -top-16 -left-13">
                <svg width="277" height="280" viewBox="0 0 277 280" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_102_191)">
    <g opacity="0.7">
    <path opacity="0.2" d="M31.2018 -171.604H29.6224V460.472H31.2018V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M62.8057 -171.604H61.2263V460.472H62.8057V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M94.4095 -171.604H92.8301V460.472H94.4095V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.5" d="M126.013 -171.604H124.432V460.472H126.013V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M157.617 -171.604H156.038V460.472H157.617V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M189.222 -171.604H187.641V460.472H189.222V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M220.825 -171.604H219.244V460.472H220.825V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M252.428 -171.604H250.849V460.472H252.428V-171.604Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 17.229H-190.814V18.81H441.262V17.229Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 48.833H-190.814V50.414H441.262V48.833Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 80.4365H-190.814V82.0175H441.262V80.4365Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 112.041H-190.814V113.622H441.262V112.041Z" fill="#B8B8B8"/>
    <path opacity="0.5" d="M441.262 143.645H-190.814V145.226H441.262V143.645Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 175.248H-190.814V176.827H441.262V175.248Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 206.852H-190.814V208.433H441.262V206.852Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 238.454H-190.814V240.035H441.262V238.454Z" fill="#B8B8B8"/>
    <path opacity="0.2" d="M441.262 270.059H-190.814V271.639H441.262V270.059Z" fill="#B8B8B8"/>
    <path d="M126.012 138.917H124.435V149.951H126.012V138.917Z" fill="#B8B8B8"/>
    <path d="M130.74 143.646H119.707V145.222H130.74V143.646Z" fill="#B8B8B8"/>
    <path d="M47.1992 64.8335H45.623V66.4097H47.1992V64.8335Z" fill="#B8B8B8"/>
    <path d="M204.824 64.8335H203.248V66.4097H204.824V64.8335Z" fill="#B8B8B8"/>
    <path d="M47.1992 222.458H45.623V224.035H47.1992V222.458Z" fill="#B8B8B8"/>
    <path d="M204.824 222.458H203.248V224.035H204.824V222.458Z" fill="#B8B8B8"/>
    </g>
    <rect x="-2" width="286" height="285" fill="url(#paint0_radial_102_191)"/>
    </g>
    <defs>
    <radialGradient id="paint0_radial_102_191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(141 142.5) rotate(90) scale(162.705 163.276)">
    <stop offset="0.442308" stop-color="#191D21" stop-opacity="0"/>
    <stop offset="1" stop-color="#191D21"/>
    </radialGradient>
    <clipPath id="clip0_102_191">
    <rect width="277" height="280" fill="white"/>
    </clipPath>
    </defs>
                </svg>
            </div>
            <!-- Code Tablet PNG -->
            <img class="hidden lg:block absolute top-[80px] right-[200px] -z-10" src="../../public/DevComp.png" alt="">
        </div>
    
        <!-- About Me -->
        <div class="flex flex-col gap-[32px] lg:w-[650px] w-full">
            <div>
                <h3 class="text-[#D4D4D4] text-[24px] font-bold">About me</h3>
                <p class="text-[#D4D4D4]">I’m a UX/UI designer passionate about turning ideas into unique digital experiences. I enjoy blending creativity and functionality to craft interfaces that truly connect with people. On top of that, I’m diving into web development to better understand every pixel and line of code that brings my designs to life.</p>
            </div>
            <div>
                <Button style="py-[18px] lg:w-[251px] w-full"/>
            </div>
        </div>
        
        <!-- Profile Pic -->
        <div class="absolute top-0 right-2 hidden lg:block">
            <img id="profilePic" class="w-[430px]" src="../../public/JuanCSuarez2.png" alt="Juan_Camilo_Suarez_Profile_Picture">
        </div>
    </div>

    <!-- Check my work Arrow -->
    <div class="absolute bottom-0 flex flex-col items-center w-full pb-10 gap-2">
        <p class="text-[#B2BDC3] font-bold">Check my work</p>
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_104_1570" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
        <rect width="32" height="32" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_104_1570)">
        <path d="M16 29.3333L6.66666 20L8.53332 18.1L14.6667 24.2333V14.6666H17.3333V24.2333L23.4667 18.1333L25.3333 20L16 29.3333ZM14.6667 12V7.99996H17.3333V12H14.6667ZM14.6667 5.33329V2.66663H17.3333V5.33329H14.6667Z" fill="#667882"/>
        </g>
        </svg>
    </div>
</main>

<style>
    #WebDev {
        text-shadow: -2px 2px 16px rgba(81, 136, 255, 0.40);
        background: radial-gradient(119.31% 87.9% at 50.59% 50%, #3AAAFF 0%, #236699 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #profilePic{
        border-radius: 1000px;
        border: 5px solid #3D404A;
        box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.15);
        background: linear-gradient(213deg, #191E22 43.86%, #647888 106.36%);
    }
</style>